<form accept-charset="UTF-8" action="/" id="sign-up-form" method="post">
	<div style="margin:0;padding:0;display:inline">
		<input name="utf8" type="hidden" value="&#x2713;" />
		<input name="authenticity_token" type="hidden" value="FMDsjV83Ii0ofnkLABuZMd7T8Efn02V9smWF7fzw7sM=" />
	</div>
    <h2>
      <span style="color:#999"><span style="font-weight:400; color:#999">TELO</span>TENGO<span style="font-weight:400;"> PRO</span></span>
    </h2>
    <hr>
    <label class="housecall-label" for="business_name">Business name</label>
    <input class="input-text" id="business_name" name="business_name" type="text" />
    <div class="row">
      <div class="large-6 columns">
        <label class="housecall-label" for="first_name">First name</label>
        <input class="input-text" id="first_name" name="first_name" type="text" />
      </div>
      <div class="large-6 columns">
        <label class="housecall-label" for="last_name">Last name</label>
        <input class="input-text" id="last_name" name="last_name" type="text" />
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <label class="housecall-label" for="mobile_number">Mobile number</label>
        <input class="input-text" id="sign-up-mobile-number" name="mobile_number" type="text" />
      </div>
          <div class="large-6 columns end">
            <label class="housecall-label" for="invite_code">INVITE CODE</label>
            <input class="input-text" id="sign-up-referral-code" name="invite_code" placeholder="(optional)" type="text" />
          </div>
    </div>
    <hr>
    <div class="row">
      <div class="large-6 columns">
        <label class="housecall-label" for="email">Email</label>
        <input class="input-text" id="email" name="email" type="text" />
      </div>
      <div class="large-6 columns">
        <label class="housecall-label" for="password">Password</label>
        <input class="input-text" id="password" name="password" type="password" />
      </div>
    </div>
    <hr>
</form>